/ProIntro/core/target/
/ProIntro/assets/target/
/ProIntro/java/target/
/ProGames/assets/target/
*.class

ProGames/core/target/classes/rebel.xml

ProGames/core/target/maven-archiver/pom.properties

*.jar

ProGames/java/target/classes/rebel.xml

ProGames/java/target/maven-archiver/pom.properties

ProGames/rebel.xml

ProGames/assets/.classpath

ProGames/assets/.project

ProGames/assets/.settings/org.eclipse.core.resources.prefs

ProGames/assets/.settings/org.eclipse.jdt.core.prefs

ProGames/assets/.settings/org.eclipse.m2e.core.prefs

ProGames/core/src/main/resources/rebel.xml

ProGames/java/.classpath

ProGames/java/.project

ProGames/java/.settings/org.eclipse.core.resources.prefs

ProGames/java/.settings/org.eclipse.jdt.core.prefs

ProGames/java/.settings/org.eclipse.m2e.core.prefs
/ProJava/java/target/
/ProJava/common/target/
/ProJava/com.decouplink/target/
/ProJava/movesystem/target/
/ProJava/assets/target/
/ProJava/core/target/
/ProJava/enemy/target/
ProJava/collision/src/main/resources/rebel.xml

ProJava/collision/src/main/resources/rebel.xml

ProJava/collision/target/classes/rebel.xml

ProJava/collision/target/test-classes/.netbeans_automatic_build

ProJava/collision/target/maven-archiver/pom.properties

ProJava/collision/target/classes/.netbeans_automatic_build

ProJava/collision/target/classes/META-INF/services/dk.sdu.mmmi.cbse.project3.common.services.IEntityProcessingService

ProJava/expiration/target/classes/rebel.xml

ProJava/expiration/target/classes/.netbeans_automatic_build

ProJava/expiration/target/classes/META-INF/services/dk.sdu.mmmi.cbse.project3.common.services.IEntityProcessingService

ProJava/expiration/target/maven-archiver/pom.properties

ProJava/expiration/target/test-classes/.netbeans_automatic_build

ProJava/player/target/classes/.netbeans_automatic_build

ProJava/player/target/classes/META-INF/services/dk.sdu.mmmi.cbse.project3.common.services.IEntityProcessingService

ProJava/player/target/classes/META-INF/services/dk.sdu.mmmi.cbse.project3.common.services.IGamePluginService

ProJava/player/target/classes/rebel.xml

ProJava/player/target/maven-archiver/pom.properties

ProJava/player/target/test-classes/.netbeans_automatic_build

ProJava/move/target/classes/.netbeans_automatic_build

ProJava/move/target/classes/META-INF/services/dk.sdu.mmmi.cbse.project3.common.services.IEntityProcessingService

ProJava/move/target/classes/rebel.xml

ProJava/move/target/maven-archiver/pom.properties

ProJava/move/target/test-classes/.netbeans_automatic_build

ProJava/player/src/main/resources/rebel.xml

ProJava/move/src/main/resources/rebel.xml

ProJava/java/src/main/resources/rebel.xml

ProJava/expiration/src/main/resources/rebel.xml

ProJava/player/src/main/resources/rebel.xml

ProJava/common/src/main/resources/rebel.xml

ProJava/enemy/src/main/resources/rebel.xml

ProJava/core/src/main/resources/rebel.xml

ProJava/com.decouplink/src/main/resources/rebel.xml

ProNetbeans/rebel.xml

ProNetbeans/branding/rebel.xml
/ProNetbeans/application/target/
/ProNetbeans/target/
ProNetbeans/application/.jrebel_disabled

ProNetbeans/Assets/.jrebel_disabled

ProNetbeans/Collision/.jrebel_disabled

ProNetbeans/Core/.jrebel_disabled

ProNetbeans/Common/.jrebel_disabled

ProNetbeans/SilentUpdate/.jrebel_disabled
/ProJava/collision/target/
/ProJava/player/target/
/ProJava/expiration/target/
/ProJava/move/target/
/ProNetbeans/SilentUpdate/target/
/ProNetbeans/Player/target/
ProJava/rebel.xml

ProNetbeans/Player/.jrebel_disabled
